<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalamityCall"
        tools:targetApi="31">

        <activity
            android:name=".fragments.SettingsPage"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".fragments.NotificationPage"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".NotificationOnActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".NotificationTypeActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".FlashingActivity"
            android:exported="false"
            tools:ignore="Instantiatable"  />

        <activity
            android:name=".NoiseActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".TexttospeechActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".SettingsPreferences"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".fragments.ReportPage"
            android:exported="false"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".Settings"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".fragments.ForumPage"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <!-- Login Page as the launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Firebase Messaging Service -->
        <service android:name=".firebase.MyFirebaseMessagingService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
